@page
@model RegisterModel
@{
    Layout = "/Views/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Register";

}
@using BooksForYou.Services.GoogleReCaptcha;
@using Microsoft.Extensions.Options
@inject IOptions<GoogleReCaptchaConfig> GoogleReCaptchaConfig
<html lang="en">
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="card-header text-center">
            <a href="/" class="h1">Books for You</a>
        </div>
        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg"> <h1 class="text-center">@ViewData["Title"]</h1></p>
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="text-center mb-3">
                        <input asp-for="Input.FirstName" class="form-control " autocomplete="username" aria-required="true" placeholder="First name" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="text-center mb-3">
                        <input asp-for="Input.LastName" class="form-control " autocomplete="username" aria-required="true" placeholder="Last name" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="text-center mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="text-center mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password">
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="text-center mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="ConfirmPassword" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                                <label for="agreeTerms">
                                    I agree to the <a href="#">terms</a>
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>
                    </div>
                </form>
                <hr />
                <p class="mb-1">
                    <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">I already have a membership</a>
                </p>
            </div>

        </div>
    </div>
    <script src="https://www.google.com/recaptcha/api.js?render=@GoogleReCaptchaConfig.Value.SiteKey"></script>
    <script>

        grecaptcha.ready(function () {
            grecaptcha.execute('@GoogleReCaptchaConfig.Value.SiteKey', { action: 'submit' }).then(function (token) {
                console.log(token);
                document.getElementById("RegisterToken").value = token;
            });
        });
    </script>
</body>
</html>
