<td id="bookinfo">
    <h1 class="booktitle">
        <span class="fn"><span dir="ltr">Creating ASP.NET Core Web Applications</span></span>
        : <span class="subtitle">
            <span dir="ltr">Proven Approaches to Application Design and Development</span>
        </span>
    </h1><div class="bookcover"><img src="https://books.google.bg/books/content?id=uRsOzgEACAAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;imgtk=AFLRE70CKoQimQ-4fjMsSYBHYlZV_GggecJQRvz1EmdOpuxROVhAvVNEaPJc2lQvoafyHu3ND37-5ztczx2WJvn3oSBVs5w18VLNqe6ki1nqkzOFfvgQyFDS6bi028wYViTM0FG67oqD" alt="Front Cover" title="Front Cover" width="128" border="1" id="summary-frontcover"></div>
    <div class="bookinfo_sectionwrap">
        <div>
            <a href="https://www.google.bg/search?tbo=p&amp;tbm=bks&amp;q=inauthor:%22Dirk+Strauss%22" class="secondary">
                <span dir="ltr">Dirk Strauss</span>
            </a>
        </div><div>
            <span dir="ltr">Apress</span>, <span dir="ltr">Mar 6, 2021</span>
            - <a class="secondary" href="https://www.google.bg/search?tbo=p&amp;tbm=bks&amp;q=subject:%22Computers%22&amp;source=gbs_ge_summary_r&amp;cad=0">
                <span dir="ltr">Computers</span>
            </a> - <span dir="ltr">291 pages</span>
        </div>
        <div class="reviewaggregate hreview-aggregate">
            <a href="https://books.google.bg/books?id=uRsOzgEACAAJ&amp;sitesec=reviews" aria-label="Average user rating - Unrated">
                <span class="gb-star-off goog-inline-block rating">
                    <span class="value-title" title="0.0"></span>
                </span><span class="gb-star-off goog-inline-block"></span><span class="gb-star-off goog-inline-block"></span><span class="gb-star-off goog-inline-block"></span><span class="gb-star-off goog-inline-block"></span>
            </a> <span class="num-ratings">
                <a href="https://books.google.bg/books?id=uRsOzgEACAAJ&amp;sitesec=reviews" class="sbs-count secondary">
                    <span class="count">0</span> Reviews
                </a><div class="sbs-disclaimer">
                    <
                    span class="sbs-disclaimer-text">Reviews aren't verified, but Google checks for and removes fake content when it's identified
            </span>
        </div>
        </span>
    </div></div><div id="synopsis">
        <div id="synopsis-window" style="height: 5.85em; overflow: hidden;">
            <div id="synopsistext" dir="ltr" class="sa">
                Design and develop an ASP.NET Core web application using .NET Core 3.0. This book shows you how to publish a web application to a web server and connect the published web application to a production database.<br><b><i>Creating ASP.NET Core Web Application</i></b><i><b>s</b></i> starts by setting up the Visual Studio project where you will learn about Razor pages, Entities, and creating a data service. You will create models along with methods to use a query string and handle bad requests. Modifying data with Tag helpers is discussed as well as installation of Entity Framework, working with database migrations, and implementing a data access service. You will learn how to use layout pages and sections with Partial Views, _ViewImports, and _ViewStart files. You also will create custom middleware and log application events. You will be able to deploy the web application as well as connect it to a SQL Server database.<br><br>
                <br><b>What You Will Learn</b><ul><li>Work with models</li><li>Modify data</li><li>Work with EF Core and SQL Server</li><li>Work with Razor pages and Partial Views</li><li>Use separate scripts for production vs development</li><li>Trace client-side errors using Chrome Developer tools</li><li>Create cascading style sheets (CSS) with Sassy CSS (SCSS)</li><li>Explore middleware</li><li>Deploy your web application to IIS</li></ul><br><br><b>Who This Book Is For</b><br>Software developers on the .NET stack who want to create ASP.NET Core web applications<br>
            </div>
        </div>
        <a class="secondary" style="cursor: pointer; padding-top: 6px;">More »</a>
    </div><div class="search_box_wrapper"></div>
</td>