@using BooksForYou.Common
@using BooksForYou.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                @*<i class="fas fa-user-alt"></i>*@
                <gravatar-img email="@User.Identity?.Name" size="30" class="img-circle elevation-2"></gravatar-img>
                <p>  @this.User.Identity.Name!</p>
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                <button type="submit" class="nav-link btn btn-link text light">
                    <i class="fas fa-sign-out-alt"></i>
                    <p>Logout</p>
                </button>
            </form>
        </li>

        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="nav-item menu-open">
                <a href="#" class="nav-link active">
                    <i class=" fas fa-sharp fa-solid fa-bars"></i>
                    @*<i class="nav-icon fas fa-tachometer-alt"></i>*@
                    <p>
                        Menu
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="User" asp-action="All">
                            <i name="accessibility-outline"></i>
                            <p>
                                Get Users
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Genre" asp-action="All">
                            <i name="accessibility-outline"></i>
                            <p>
                                Get Genres
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Book" asp-action="AllFromAdmin">
                            <i name="accessibility-outline"></i>
                            <i class="fas fa-duotone fa-book"></i>
                            <p>
                                Get Books
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="AllUsersAuthors">
                            <i name="accessibility-outline"></i>
                            <i class="fa-duotone fa-feather-pointed"></i>
                            <p>
                                Get Authors
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Publisher" asp-action="All">
                            <i name="accessibility-outline"></i>
                            <i class="fa-duotone fa-feather-pointed"></i>
                            <p>
                                Get Publishers
                            </p>
                        </a>
                    </li>
                </ul>
            </li>


        }
        else if (this.User.IsInRole(GlobalConstants.AuthorRoleName))
        {
            <li class="nav-item">
                <a asp-area="" asp-controller="User" asp-action="BecomeAuthor" class="nav-link">
                    <i class="nav-icon fas fa-wallet"></i>
                    <p>
                        Author form.
                    </p>
                </a>
            </li>
        }
    }
    else
    {
        <li class="nav-item">
            <a asp-area="Identity" asp-page="/Account/Register" class="nav-link">
                <i class="nav-icon fas fa-registered"></i>
                <p>Register</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login" class="nav-link">
                <i class="nav-icon fas fa-user"></i>
                <p>Login</p>
            </a>
        </li>
    }
</ul>

