<nav class="mt-2">
    @*<ul class="nav nav-pills nav-sidebar">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">
                <i class="nav-icon fas fa-home"></i>
                <p>
                    Home
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Home" asp-action="Privacy" class="nav-link">
                <i class="nav-icon fas fa-wallet"></i>
                <p>
                    Privacy
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Test" asp-action="Test" class="nav-link">
                <i class="nav-icon fas fa-wallet"></i>
                <p>
                    EmailSender
                </p>
            </a>
        </li>
    </ul>*@
</nav>