@using BooksForYou.Common;
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar">
        <li class="nav-item">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">
                <i class="nav-icon fas fa-home"></i>
                <p>
                    Home
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Home" asp-action="Privacy" class="nav-link">
                <i class="nav-icon fas fa-wallet"></i>
                <p>
                    Privacy
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Book" asp-action="All" class="nav-link">
                <i class="nav-icon fas fa-wallet"></i>
                <p>
                    All Books
                </p>
            </a>
        </li>
        @if (!User.IsInRole(GlobalConstants.AuthorRoleName) && User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                <a asp-area="" asp-controller="User" asp-action="RequestToBecome" class="nav-link">
                    <i class="nav-icon fas fa-wallet"></i>
                    <p>
                        Become author
                    </p>
                </a>
            </li>
        }

    </ul>
</nav>